<div class="card">
  <div class="card-img-wrapper">
    <img [src]="product.image" [alt]="product.name">
  </div>
  <div class="card-body">
    <h3>{{ product.name }}</h3>
    <p class="price">{{ product.price }} грн</p>
    
    <div *ngIf="product.inStock; else outOfStock" class="status in-stock">
      Є в наявності
    </div>
    <ng-template #outOfStock>
      <div class="status out-of-stock">Немає в наявності</div>
    </ng-template>

    <button [disabled]="!product.inStock">Купити</button>
  </div>
</div>