<header class="navbar">
  <div class="logo">
    <a routerLink="/">{{ appName }}</a>
  </div>

<nav>
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Головна</a>
  <a routerLink="/items" routerLinkActive="active">Смартфони</a>
  <a routerLink="/laptops" routerLinkActive="active">Ноутбуки</a>
  <a routerLink="/accessories" routerLinkActive="active">Аксесуари</a>
</nav>

  <div class="user-actions">
    <button class="cart-btn">Кошик 🛒</button>
    
    <a *ngIf="!authService.isAuthenticated()" routerLink="/login" class="auth-btn">Увійти</a>
    <button *ngIf="authService.isAuthenticated()" (click)="logout()" class="auth-btn logout">Вийти</button>
  </div>
</header>