<div class="products-container">
  <h2>Популярні товари</h2>

  <div class="search-bar">
    <input 
      type="text" 
      placeholder="Введіть назву гаджета..." 
      [(ngModel)]="searchQuery"
    >
    <p>Ви шукаєте: <strong>{{ searchQuery }}</strong></p> </div>

  <div class="grid">
    <app-item-card 
      *ngFor="let item of filteredProducts" 
      [product]="item"
      (itemClicked)="handleItemClick($event)">
    </app-item-card>
  </div>
  
  <div *ngIf="filteredProducts.length === 0" class="no-results">
    Товарів не знайдено 😞
  </div>
</div>